body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 50%; /* Ancho ajustable según tus necesidades */
    text-align: center;
}

form {
    margin-bottom: 20px; /* Agregamos un margen inferior al formulario */
    box-shadow: none; /* Eliminamos la sombra del formulario */
    padding: 20px; /* Añadimos espacio interior al formulario */
}

.form-group {
    margin-bottom: 20px; /* Espacio entre grupos de formulario */
}

/* Eliminar el borde alrededor de los elementos de formulario */
.form-control {
    border: none;
    border-radius: 0; /* Asegúrate de que los bordes sean rectos */
}

.blue-btn {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    padding: 10px 20px; /* Padding interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor al pasar por encima */
    font-size: 16px; /* Tamaño de la fuente */
}

/* Estilos al pasar el cursor por encima */
.blue-btn:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro */
}