body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 20px;
    margin-top: 200px; /* Margen superior añadido */
    margin-left: 350px;
}

.card {
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    border-radius: 8px !important;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 20px;
}

.custom-file-upload:hover {
    background-color: #f0f0f0;
}

.cosaaa {
    width: 100%;
    background-color: red;
    display: none;
}