
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.file-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.btn {
    background-color: #007bff; /* Color azul */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    margin: 20px; /* Ajusta el margen */
}
.btn:hover {
    background-color: #0056b3; /* Cambio de color al pasar el ratón */
}
.file-link {
    display: block;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    position: relative;
    transition: background-color 0.3s ease;
}
.file-link:hover {
    background-color: #e0e0e0;
}
.file-link i {
    margin-right: 10px;
}
.context-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}
.file-link:hover .context-menu {
    display: block;
}
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
}
.file-link a {
    color: #333;
    text-decoration: none;
}
